
@font-face {
	font-family: 'BrushScriptStd';
    src: url('fonts/BrushScriptStd.eot'); /* IE9 Compat Modes */
    src: url('fonts/BrushScriptStd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('fonts/BrushScriptStd.ttf') format("truetype");
}

@font-face {
	font-family: 'OpenSans';
    src: url('fonts/OpenSans-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('fonts/OpenSans-Regular.ttf') format("truetype");
}
@font-face {
	font-family: 'OpenSansBold';
    src: url('fonts/OpenSans-Bold.eot'); /* IE9 Compat Modes */
    src: url('fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('fonts/OpenSans-Bold.ttf') format("truetype");
}
@font-face {
	font-family: 'OpenSansSemiBold';
    src: url('fonts/OpenSans-Semibold.eot'); /* IE9 Compat Modes */
    src: url('fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('fonts/OpenSans-Semibold.ttf') format("truetype");
}
@font-face {
	font-family: 'OpenSansLight';
    src: url('fonts/OpenSans-Light.eot'); /* IE9 Compat Modes */
    src: url('fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('fonts/OpenSans-Light.ttf') format("truetype");
}
@font-face {
	font-family: 'OpenSansItalic';
	src: url('fonts/OpenSans-Italic.ttf') format("truetype");
    src: url('fonts/OpenSans-Italic.eot'); /* IE9 Compat Modes */
    src: url('fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('fonts/OpenSans-Italic.ttf') format("truetype");
}
.workflow
{
    background:url(img/molpay_cash_flow.png)no-repeat;
    background-size:100% 100%;
    width:590px;
    height:429px;
}
ol
{
    font-family:OpenSans;
}