@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_HomeAboutLayout.cshtml";
}
@section AddToHead{
    <link href="@Url.Content("~/Content/careers.css")" rel="stylesheet" type="text/css" />
}
<div class="content careers">
<div class="contentwrap">
<h2 style="text-align:center;">About Kuazoo</h2>
</div>

<div class="abouthead" style="text-align: center; padding: 60px;">
<div class="contentwrap">
    <div class="col-sm-8">
        <div class="mascottext" style="text-align: center; padding:70px;">
        “At Kuazoo we believe that living a better, healthier life is a choice. We aim to make these lifestyle choices available for everybody, everyday! ”
        </div>
    </div>
    <div class="col-sm-4">
        <div class="mascoticon"></div>
    </div>
</div>
</div>
<div class="contentwrap" style="margin-bottom:40px; text-align:center;">
    <div style=" padding-left: 80px; padding-right:80px;">
        <p style="color: #007fb1; font-size: 22px;">
        Kuazoo - the most unique Health & Wellbeing platform in Malaysia
        </p>
        <p>
        Kuazoo is Malaysia’s most unique online destination for Health & Well-being. With a wide range of high quality, affordable products and experiences on offer, Kuazoo aims to be your answer to heart, body, mind and spiritual well-being. 
        </p>
        <p>
        At Kuazoo, our goal is also to raise awareness in Malaysia about making healthier lifestyle choices. We aim to build a vibrant Health & Well-being community through greater social engagement. 
        </p>
        <p>
        As part of this Health & Well-being community, you will receive several exclusive privileges to:
        </p>
    </div>

    <div style="text-align:center; padding-bottom: 190px; font-style:italic;">
        <div class="col-sm-3">
            <div class="abouticon genuine"></div>
            <p>100% genuine products and experiences to soothe the body and mind</p>
        </div>
        <div class="col-sm-3">
            <div class="abouticon present"></div>
            <p>Win exciting surPRIZES every time you buy a deal</p>
        </div>
        <div class="col-sm-3">
            <div class="abouticon article"></div>
            <p>Articles on the latest trends in Health & Well-being</p>
        </div>
        <div class="col-sm-3">
            <div class="abouticon bulb"></div>
            <p>Professional advice from our Well-being advisors</p>
        </div>
    </div>
    <div style="text-align:center; padding-bottom: 190px; font-style:italic;">
        <div class="col-sm-4">
            <div class="abouticon bullhorn"></div>
            <p>Be the first to know about our exclusive flash deals</p>
        </div>
        <div class="col-sm-4">
            <div class="abouticon star"></div>
            <p>Loyalty rewards</p>
        </div>
        <div class="col-sm-4">
            <div class="abouticon comment"></div>
            <p>Customer reviews</p>
        </div>
    </div>
    
    <div style="padding-top: 50px; padding-left: 80px; padding-right:80px;">
        <div class="abouticon shipping"></div>
        <p style="color: #007fb1; font-size: 20px;">Free delivery</p>
        <p>In order to reduce stress, buying on Kuazoo is a hassle-free process. We promise free delivery within Klang Valley on the entire assortment of products. </p>
    </div>
    <div style="padding-top: 100px; padding-left: 80px; padding-right:80px;">
        <div class="abouticon monkey"></div>
        <p style="color: #007fb1; font-size: 20px;">Kuazoo Points - because we value our loyal customers</p>
        <p>On top of all these innovative ideas we’d also like to thank our loyal customers for continuing to shop with us. For every purchase you make, you are rewarded with Kuazoo points. These can be exchanged for additional discounts on other products or services.</p>
    </div>
    <div style="padding-top: 100px; padding-bottom: 50px;  padding-left: 80px; padding-right:80px;">
        <div class="abouticon flash"></div>
        <p style="color: #007fb1; font-size: 20px;">Flash Deals - deals that cannot be missed</p>
        <p>Once in a flashing moment certain deals become even more exciting! This means that Kuazoo offers customers more value by giving even crazier discounts. Better check us out regularly so you don’t miss out on the deepest discounts in town!</p>
    </div>


</div>
</div>