@{
    ViewBag.Title = "Careers";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@section AddToHead{
    <link href="@Url.Content("~/Content/careers.css")" rel="stylesheet" type="text/css" />
}
<div class="content careers">
<h2>Careers</h2>
<h3>At Kuazoo, we value every individual. A person’s individuality is a valuable asset if channeled in the right way. We hope to nurture that.</h3>
<p>In addition to long hours and hard work, we are also about creating a fun, exciting environment for all our Kuazooers! We value creativity, initiative and a great sense of humor. If this type of environment appeals to you,
 please contact us at <a href="mailto:hr@kuazoo.com">hr@kuazoo.com</a> or check out the great career openings below.</p>
<div class="row">
    <div class="col-sm-4 left">
        Corporate Operations
    </div>
    <div class="col-sm-8 right">
        <div class="panel panel-default">
          <div class="panel-heading cl">Internship in Business Development <span class="angle fa fa-angle-right"></span></div>
          <div class="panel-body" style="display:none">
              <strong>Tasks</strong>
              <ul>
                <li>Market research and Industry analysis</li>
                <li>Business development and networking</li>
                <li>Execution and sales activity</li>
                <li>Account Management</li>
                <li>Report directly to Manager Directors and founders</li>
              </ul>
              <strong>Ideal Profile</strong>
              <ul>
                <li>Passion and interest for start ups </li>
                <li>Strong academic experience</li>
                <li>Entrepreneurial mind-set</li>
                <li>Ability for innovative thought and strong initiative </li>
                <li>Good MS Office skills </li>
                <li>Attention to detail </li>
                <li>Networking and business development skills</li>
                <li>Strong communication skills </li>
                <li>Self-starter who can lead initiatives with minimal supervision </li>
                <li>Fluent English</li>
              </ul>
              <strong>Our Offer</strong>
              <ul>
                <li>Being Part of a young and dynamic environment</li>
                <li>Responsibilities since day one</li>
                <li>New challenges and an amazing experience</li>
              </ul>
              Interns will be paid in accordance with the candidate's experience and skills. 
              After the internship period there could be a full time position available for excellent performers. 
              If you are interested please send your CV at <a href="mailto:hr@kuazoo.com">hr@kuazoo.com</a>

          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading cl">Internship in Finance & Accounting  <span class="angle fa fa-angle-right"></span></div>
          <div class="panel-body" style="display:none">
              <strong>Tasks</strong>
              <ul>
                <li>Manage Invoice from suppliers and assist them regarding payment and accounting enquiries</li>                <li>Manage payments and prioritize them in accordance with sales department</li>                <li>Manage Accounts payable, Accounts receivable, balance Sheet, P&L statement</li>                <li>Create report and maintain data in accordance with company policy</li>                <li>Report directly to Managing Directors and founders</li>
              </ul>
              <strong>Ideal Profile</strong>
              <ul>                <li>Passion and interest for start ups </li>                <li>Strong academic experience in Finance/Accounting or Banking</li>                <li>Good MS Office skills, especially Excel</li>                <li>Attention to detail</li>                <li>Self-starter who can lead initiatives with minimal supervision </li>                <li>Fluent English</li>
              </ul>
              <strong>Our Offer</strong>
              <ul>
                <li>Being Part of a young and dynamic environment </li>                <li>Responsibilities since day one </li>                <li>New challenges and an amazing experience </li>
              </ul>
              Interns will be paid in accordance with the candidate's experience and skills. After the internship period there could be a full time position available for excellent performers. 
              If you are interested please send your CV at <a href="mailto:hr@kuazoo.com">hr@kuazoo.com</a>
          </div>
        </div>
    </div>
</div>
<div class="row"> 
    <div class="col-sm-4 left">
        Customer Support
    </div>
    <div class="col-sm-8 right">
        <div class="panel panel-default">
          <div class="panel-heading cl">Internship in Customer Service <span class="angle fa fa-angle-right"></span></div>
          <div class="panel-body" style="display:none">
              <strong>Tasks</strong>
              <ul>
                <li>Manage customer’s enquiries via calls, social media channels and e-mails</li>
                <li>Explain business model, products and services to customers efficiently and in a courteous way.</li>
                <li>Record feedbacks and manage customers data</li>
                <li>Create daily and weekly report in order to underline frequent inquiries and customer satisfaction.</li>
                <li>Report directly to Managing director and Customer service manager</li>
              </ul>
              <strong>Ideal Profile</strong>
              <ul>
                <li>Passion and interest for start ups</li>
                <li>Experiences in Customer service </li>
                <li>Strong communication skills </li>
                <li>Self-starter who can lead initiatives with minimal supervision </li>
                <li>Fluent English required, Malay would be a big plus.</li>
              </ul>
              <strong>Our Offer</strong>
              <ul>
                <li>Being Part of a young and dynamic environment</li>
                <li>Responsibilities since day one</li>
                <li>New challenges and an amazing experience</li>  
              </ul>
              Interns will be paid in accordance with the candidate's experience and skills. After the internship period there could be a full time position available for excellent performers. 
              If you are interested please send your CV at <a href="mailto:hr@kuazoo.com">hr@kuazoo.com</a>
          </div>
        </div>
    </div>
</div>
<div class="row"> 
    <div class="col-sm-4 left">
        Engineering & IT
    </div>
    <div class="col-sm-8 right">
        <div class="panel panel-default">
          <div class="panel-heading cl">Chief Technology Officer (CTO) <span class="angle fa fa-angle-right"></span></div>
          <div class="panel-body" style="display:none">
              <strong>Tasks</strong>
              <ul>
                <li>Responsible for overseeing all technical aspects of the company</li>
                <li>Managing all Kuazoo platforms, web, iOS and android</li>
                <li>Lead the tech vision of Kuazoo in Malaysia</li>
                <li>Implement tech strategy in accordance with Kuazoo’s  vision</li>
              </ul>
              <strong>Ideal Profile</strong>
              <ul>
                <li>Passion and interest for start ups </li>
                <li>+4 Years of experience as Tech manager or director</li>
                <li>Experience in startups</li>
                <li>Degree in computer science</li>
              </ul>
              <strong>Our Offer</strong>
              <ul>
                <li>Being Part of a young and dynamic environment</li>
                <li>International team</li>
                <li>New challenges and an amazing experience</li>
                <li>Competitive compensation</li>
              </ul>
              If you are interested please send your CV with a motivational letter to <a href="mailto:hr@kuazoo.com">hr@kuazoo.com</a>
          </div>
        </div>
    </div>
</div>
<div class="row"> 
    <div class="col-sm-4 left">
        Sales & Marketing
    </div>
    <div class="col-sm-8 right">
        <div class="panel panel-default">
          <div class="panel-heading cl">Head of Marketing <span class="angle fa fa-angle-right"></span></div>
          <div class="panel-body" style="display:none">
              <strong>Tasks</strong>
              <ul>
                <li>Managing online social media channels (Facebook,Twitter and Pinterest)  using community management tools.</li>
                <li>Managing online marketing campaigns</li>
                <li>Create on line content. Distribute content through different websites/channels and blogs(bloggers)</li>
                <li>Event manager for Kuazoo Malaysia. Organize events and promote them using marketing budget</li>
                <li>Promote Kuazoo in Universities in Malaysia.</li>
                <li>Promote Kuazoo with trendsetters and celebrities</li>
              </ul>
              <strong>Ideal Profile</strong>
              <ul>
                <li>Passion and interest for start ups </li>
                <li>Strong academic experience focused on Marketing management & PR</li>
                <li>Entrepreneurial mind-set and managing experience</li>
                <li>Ability for innovative thought and strong initiative </li>
                <li>Good MS Office skills </li>
                <li>Good Photoshop and HTML skills. Video making software would be a plus</li>
                <li>Attention to detail </li>
                <li>Experience in online Marketing, social media and content management.</li>
                <li>Strong communication skills </li>
                <li>Excellent writing skills</li>
              </ul>
              <strong>Our Offer</strong>
              <ul>
                <li>Being Part of a young and dynamic environment</li>
                <li>International team</li>
                <li>New challenges and an amazing experience</li>
                <li>Competitive compensation</li>
              </ul>
              If you are interested please send your CV with a motivational letter to <a href="mailto:hr@kuazoo.com">hr@kuazoo.com</a>
  
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading cl">Internship in Online Marketing <span class="angle fa fa-angle-right"></span></div>
          <div class="panel-body" style="display:none">
              <strong>Tasks</strong>
              <ul>
                <li>Managing online social media channels (Facebook,Twitter and Pinterest)  using community management tools.</li>
                <li>Managing online marketing campaigns</li>
                <li>Managing customer service online</li>
                <li>Support Marketing Director in daily activity</li>
                <li>Report directly to Managing Directors and founders</li>
                <li>Create on line content</li>
              </ul>
              <strong>Ideal Profile</strong>
              <ul>
                <li>Passion and interest for start ups </li>
                <li>Strong academic experience focused on Marketing management</li>
                <li>Entrepreneurial mind-set</li>
                <li>Ability for innovative thought and strong initiative </li>
                <li>Good MS Office skills </li>
                <li>Good Photoshop and HTML skills. Video making software would be a plus</li>
                <li>Attention to detail </li>
                <li>Experience in online Marketing</li>
                <li>Strong communication skills </li>
                <li>Self-starter who can lead initiatives with minimal supervision </li>
                <li>Fluent English required</li>
              </ul>
              <strong>Our Offer</strong>
              <ul>
                <li>Being Part of a young and dynamic environment</li>
                <li>Responsibilities since day one</li>
                <li>New challenges and an amazing experience</li>
              </ul>
              Interns will be paid in accordance with the candidate's experience and skills. After the internship period there could be a full time position available for excellent performers. 
              If you are interested please send your CV at <a href="mailto:hr@kuazoo.com">hr@kuazoo.com</a>  
          </div>
        </div>
    </div>
</div>
</div>



@section AddToFooter{

    <script type="text/javascript" >

        $(document).ready(function () {

            if ($('div.panel-heading').length > 0) {
                $('div.panel-heading').click(function () {
                    if ($(this).hasClass('op')) {
                        $(this).removeClass('op');
                        $(this).addClass('cl');
                        $(this).find('.angle').removeClass("fa-angle-down");
                        $(this).find('.angle').addClass("fa-angle-right");
                        $(this).next().slideUp(100);
                        return false;
                    } else {
                        $(this).removeClass('cl');
                        $(this).addClass('op');
                        $(this).find('.angle').removeClass("fa-angle-right");
                        $(this).find('.angle').addClass("fa-angle-down");
                        $(this).next().slideDown(100);
                        return false;
                    }
                });
            }

        });
		
	</script>

}