@model com.kuazoo.Models.LogOnModel
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_CheckOutLayout.cshtml";
}
@section AddToHead{
    <link href="@Url.Content("~/Content/checkout.css")" rel="stylesheet" type="text/css" />
    
<script language="javascript" type="text/javascript">
    window.fbAsyncInit = function () {
        FB.init({
            appId: '@Kuazoo.Helper.SetFacebookId',
            xfbml      : true,
            version    : 'v2.1'
        });
    };
    (function (d) {
        var js, id = 'facebook-jssdk'; if (d.getElementById(id)) { return; }
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        d.getElementsByTagName('head')[0].appendChild(js);
    } (document));
    function FBlogin() {
        var url = "https://www.facebook.com/dialog/oauth?client_id=@Kuazoo.Helper.SetFacebookId" +
                    "&redirect_uri=@Kuazoo.Helper.SetUrl/User/FacebookRedirect?returnUrl=@Url.Action("CheckOutShip", "Home")" +
                    "&response_type=token" +
                    "&scope=email,public_profile,user_birthday";
        window.location.href = url;
    };
</script>
<script type="text/javascript">
    function CreateAccount() {
        window.location="@Url.Action("SignUp","User",new {returnUrl=Url.Action("CheckOutShip","Home")})";
    }
</script>
}
<div id="fb-root"></div>

<h2>Check Out</h2>


<div class="checkoutbrumb">
    <div class="checkouts"><div class="cart cart0 cartactive"><span class="fa fa-shopping-cart"></span></div></div>
    <div class="checkouts2"><div class="cart cart1"><div class="icon1"></div>Shipping</div></div>
    <div class="checkouts3"><div class="cart cart2"><div class="icon2"></div>Payment & Confirm Order</div></div>
</div>
<div class="checkoutcontent" style="display:inline-table">
    
<div class="signinup">

<div class="loginwrap">
<div class="logincontent">
    <div class="margintop40">
        <button class="btnFacebook" onclick="FBlogin()"><div class="facebook"></div>Sign in with Facebook</button>
       @* <br /><br />
        <button class="btnTwitter" onclick="Twitterlogin()"><span class="fa fa-twitter"></span>Sign in with Twitter</button>*@
    </div>
    <div class="loginhr"><div><span>OR</span></div></div>
</div></div>
    
<table class="tabl"><tr valign="top"><td>
<div class="loginwrap">
<div class="logincontent">

<h2>Log In</h2>
    @{Html.RenderPartial("_SignIn");}
    <div class="loginrow">
        <div class="logintext width150"></div>
        <div class="logininput"><a href="@Url.Action("ForgotPassword", "User")" class="forgotpass">Forgot your password?</a></div>
    </div>
</div>
</div>
</td>
<td>
<div style="border-left: 1px solid #CCCCCC; height:400px;"></div>
</td>
<td>
<div class="loginwrap">
<div class="logincontent">
<h2>Sign Up</h2>
    
    @{Html.RenderPartial("_SignUp");}
</div>
</div>
</td></tr></table>

</div>
</div>

@section AddToFooter
{

}