@{
    ViewBag.Title = "FAQs";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@section AddToHead{
    <link href="@Url.Content("~/Content/faq.css")" rel="stylesheet" type="text/css" />
}
<h2>Frequently Asked Questions (FAQs)</h2>

<div class="content faq">
    <h3>About Kuazoo</h3>
    <div class="panel panel-default">
      <div class="panel-heading cl">What does Kuazoo do?</div>
      <div class="panel-body" style="display:none">
        Kuazoo is Malaysia’s most unique online destination for Health & Well-being. With a wide range of high quality, affordable products and experiences on offer, Kuazoo aims to be your answer to heart, body, mind and spiritual well-being.
      </div>
    </div>
    <h3>My Kuazoo Account</h3>
    <div class="panel panel-default">
      <div class="panel-heading cl">How do I create my Kuazoo account and why do I need it? </div>
      <div class="panel-body" style="display:none">
        Starting your shopping experience at Kuazoo is very simple: just sign up by providing us with your name, address, email and choose a password. Once registered, you’ll be able to make purchases. You’ll also receive our daily newsletter that will allow you to be constantly updated on our exclusive offers.
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading cl">How do I subscribe/unsubscribe from Kuazoo’s newsletter? </div>
      <div class="panel-body" style="display:none">
        When signing up, you will have to accept our terms and conditions and  have the choice to subscribe to our daily newsletter.  If you want to unsubscribe , just go to your user profile settings and untick the email notifications box.
      </div>
    </div>
    <h3>Payment and Redemption</h3>
    <div class="panel panel-default">
      <div class="panel-heading cl">How do I purchase a deal? </div>
      <div class="panel-body" style="display:none">
        If already registered, sign in and select the deal you want to purchase by clicking on the “BUY NOW” button. You will be taken to the checkout page where you will be asked to complete the shipping and billing information. If you have not registered or signed in, you will be asked to do so at this stage.  In the checkout process you may also be required to choose the quantity, size and colour of the item you want to purchase. Once you confirm the purchase through the payment method you have chosen, your transaction will be processed and if successful, your voucher will be placed in “my purchases” in your profile. A confirmation email will be sent to your email account, within 1 hour.
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading cl">How do I redeem my voucher?  </div>
      <div class="panel-body" style="display:none">
        <strong>Products:</strong> no redemption is needed. You just need to fill up the shipping information during the checkout process and you’ll get your item shipped to your billing address within the delivery period stated in the Fine Print. In some cases, only the pickup option at the retailer’s store is available. 
        <br /><br />
        <strong>Services:</strong> If your payment is successful, you will receive the deal voucher. In most cases, you will need to print it and present it to the retailer within the deal’s validity period,  stated in the Fine Print page. In most cases, the retailer may require prior booking, the retailer’s contact details will be provided in the fine print as well as on the deal voucher. 
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading cl">Is cash on delivery available? </div>
      <div class="panel-body" style="display:none">
        We don’t offer the COD option at the moment. 
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading cl">Can I buy a voucher as a gift to a friend? </div>
      <div class="panel-body" style="display:none">
        Yes. You would just need to select the gift option during the checkout process. In case of products, fill in your friend’s shipping information. 
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading cl">Can vouchers be changed? </div>
      <div class="panel-body" style="display:none">
        No. Once your purchase is finalized you won’t have the option to switch to another deal. 
      </div>
    </div>
    <h3>Vouchers</h3>
    <div class="panel panel-default">
      <div class="panel-heading cl">If I know I will not be able to use my  voucher, can I give it to somebody else?  </div>
      <div class="panel-body" style="display:none">
        Yes. Our vouchers are transferable. 
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading cl">Cash vouchers:</div>
      <div class="panel-body" style="display:none">
        cash vouchers for services can be used only one time and the cash value that is not consumed cannot be used again or refunded. 
      </div>
    </div>
    <h3>Shipping and product details</h3>
    <div class="panel panel-default">
      <div class="panel-heading cl">Is  warranty available? </div>
      <div class="panel-body" style="display:none">
        Warranty availability depends on the merchant’s terms and conditions and can be found on the Fine Print section of the product details page. You may need to ask for it by contacting the merchant through the information provided in your voucher. 
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading cl">How can I know that my product has been shipped?  </div>
      <div class="panel-body" style="display:none">
        Once the merchant has sent the product, you will get an instant notification in your email account with a tracking number.
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading cl">Is shipping to East Malaysia and abroad available?  </div>
      <div class="panel-body" style="display:none">
        Shipping outside the Malaysian peninsula depends on the retailer's terms and conditions. Some merchants might require a surcharge.
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading cl">What is the expected delivery time?</div>
      <div class="panel-body" style="display:none">
        Generally you will get your item shipped within 7 to 14 working days, unless stated otherwise in the fine print of the deal. Usually the product will be delivered within 3-5 days from the shipment date unless stated otherwise in the Fine Print. If you do not receive it within the stated period, contact our customer service and we’ll try to fix the problem as soon as possible. 
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading cl">What if I want to change the delivery address? </div>
      <div class="panel-body" style="display:none">
        If the product has not been shipped yet, contact the customer service and we’ll update the merchant as soon as possible. 
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading cl">What if I purchased the wrong size/colour and I want to change it?  </div>
      <div class="panel-body" style="display:none">
        You would need to contact our customer service that will get in touch with the merchant and see if a change is still possible.
      </div>
    </div>
    <h3>RETURNS AND REFUND POLICY</h3>
    <div class="panel panel-default">
      <div class="panel-heading cl">Products</div>
      <div class="panel-body" style="display:none">
        <strong>Not satisfied with your purchase?</strong> At Kuazoo, customer satisfaction is one of our most vital assets. If you are really unhappy with your purchase, please contact our customer service and we will evaluate the possibility of replacing the product with another item or exchanging the value of the product for an equivalent amount of Kuazoo Points. However, return shipping costs will have to be borne by the buyer.
        <br /><br />
        <strong>Faulty/wrong item:</strong> In case the product is faulty or the wrong item was shipped, Kuazoo will replace the item at our cost and pay for the shipping costs. Refund in such cases will be possible on a case by case basis if the customer does not want a replacement. However, the fault must be identified and proven by the buyer within 7 days after the product’s reception.
        <br /><br />
        <strong>Undelivered goods:</strong> If a product is undelivered, Kuazoo will do its best to expedite the delivery of these goods. Refund is also possible if the customer no longer wants the product due to the delay in delivery. Complaints should be initiated within 1 month after the dispatch of the product.
        <br /><br />
        <strong>Cancellation:</strong> If an order is cancelled by a customer, Kuazoo will replace the value of the cancelled order with an equivalent amount of Kuazoo Points which can be used for future purchases.
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading cl">Services</div>
      <div class="panel-body" style="display:none">
        Refund for services is available in case the merchant has closed down its operations or the customer has been refused service with the voucher. 
      </div>
    </div>
</div>

@section AddToFooter{

    <script type="text/javascript" >

        $(document).ready(function () {

            if ($('div.panel-heading').length > 0) {
                $('div.panel-heading').click(function () {
                    if ($(this).hasClass('op')) {
                        $(this).removeClass('op');
                        $(this).addClass('cl');
                        $(this).next().slideUp(100);
                        return false;
                    } else {
                        $(this).removeClass('cl');
                        $(this).addClass('op');
                        $(this).next().slideDown(100);
                        return false;
                    }
                });
            }

        });
		
	</script>

}