@{
    ViewBag.Title = "How to get the surPRIZE";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@section AddToHead{
    <link href="@Url.Content("~/Content/careers.css")" rel="stylesheet" type="text/css" />
}

<h2 style="text-align: center;">How To Get The SurPRIZE</h2>
<div class="content careers">
<div class="container">
<div class="row">
    <div class="col-xs-3">
        <span class="pinkcart"></span>
    </div>
    <div class="col-xs-9" style="padding-top: 40px; margin-left: -40px;">
        <span class="num1"></span>
        <div>
            <h5>Shop for a deal</h5>
            <h6>Browse and choose any product or experience you like on Kuazoo.com</h6>
        </div>
    </div>
</div>
<div class="row" style="margin-left:-250px;">
    <div class="col-xs-6" style="text-align:right;">
        <span class="vector1"></span>
    </div>
    <div class="col-xs-2" style="padding-top:40px;">
        <span class="cashier"></span>
    </div>
    <div class="col-xs-4" style="padding-top:80px; margin-left: -20px;">
        <div>
            <span class="num2"></span>
            <div>
                <h5>Checkout your order</h5>
                <h6>Go to checkout and complete your order</h6>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-3" style="padding-top: 60px;">
        <span class="game"></span>
    </div>
    <div class="col-xs-9">
        <div style="padding-left:120px;">
            <span class="vector2"></span>
        </div>
        <div style="margin-top:-80px;">
            <span class="num3"></span>
            <div style="width: 600px;">
                <h5>Play a game!</h5>
                <h6>Every time after you buy a product or experience on Kuazoo.com, you will be eligible to participate                    in a simple and fun "spot-the-object" or an "xth-buyer-wins" game. </h6>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-left:-70px;">
    <div class="col-xs-4" style="text-align: right;">
        <span class="vector3"></span>   
    </div>
    <div class="col-xs-2" style="padding-top:25px;">
        <span class="freedraw"></span>
    </div>
    <div class="col-xs-4" style="padding-top:80px; width: 380px;">
        <div>
            <span class="num4"></span>
            <div>
                <h5>Stand to win the <i>surPRIZE</i></h5>
                <h6>Once completed, you will automatically be entered to win the surPRIZE</h6>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-left: -30px;">
    <div class="col-xs-4">
        <span class="users" style="margin-top:20px;"></span>
    </div>
    <div class="col-xs-8" style="margin-top:-70px;">
        <div style="padding-left:70px;">
            <span class="vector4"></span>
        </div>
        <div style="margin-left:-50px; margin-top:-55px;">
            <span class="num5"></span>
            <div style="width: 450px;">
                <h5>You will be notified</h5>
                <h6>Once enough people have bought the deal, the surPRIZE will be activated i.e the deals gets “KUAZOOD” and a winner will be announced. <br /><br />                    The pink bar at the bottom of every deal tells you how many deals are left till the surPRIZE gets activated. Everytime when someone buys the deal, the bar moves. When it’s full, the winner of the game will be announced and placed in the Winner’s Circle.</h6>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-left:-60px;">
    <div class="col-xs-3" style="text-align: right; padding-top: 100px;">
        <span class="yeah"></span>
    </div>
    <div class="col-xs-9">
        <span class="vector5" style="margin-left:170px;"></span>
        <div style="margin-top: -50px;">
            <span class="num6"></span>
            <div style="width: 540px;">
                <h5>Enjoy your purchased deal right away!</h5>
                <h6>Don’t worry, you don’t have to wait until the the pink bar is full or for the surPRIZE to be activated to enjoy your purchase. The deal you purchased can be used immediately. So, go out and enjoy it straight away!</h6>
            </div>
        </div>
    </div>
</div>

</div>
</div>