@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_HomeAboutLayout.cshtml";
}
@section AddToHead{
    <link href="@Url.Content("~/Content/careers.css")" rel="stylesheet" type="text/css" />
}
<div class="content careers policy">
<div class="contentwrap">
<h2>Kuazoo Privacy Policy</h2>
<p>
    This Privacy Policy has been prepared to serve better, those who are concerned about how their Personally Identifiable Information is being used online. This information refers to information that can be used on its own or with other information to identify, contact or locate a single person, or identify an individual in context. 
</p>
<p>
    The Privacy Policy outlines how Kuazoo Sdn Bhd, in compliance to the “Personal Data Protection Act 2010”, will take the necessary measures to protect your privacy online. Please read and review our privacy policy carefully to get a clear understanding of how we collect, use or otherwise protect your Personally Identifiable Information in accordance with our website, Kuazoo.com.
</p>
<p class="title">Types of Personal Information Collected</p>
<p>
    <strong>Personally Identifiable Information:</strong> When registering or creating an account, ordering a product or service, entering a contest run by Kuazoo, posting a review, requesting certain information about our site or completing an online survey on our site as appropriate, you may be asked to enter your first and last name, email address, mailing address, phone number, credit card information or other personal details to help you with your experience.
</p>
<p>
If you choose to use Kuazoo’s referral service or to buy a gift for a friend or family member or invite them to visit the website, Kuazoo will utilize this information to send an email to the person or persons, a one time email to invite them to the website or to send an electronic voucher bought by you as a gift. At any point in time, you or your friend or family member can send a request to Kuazoo to remove such personal information, which is stored in a database at Kuazoo. 
</p>
<p>
Kuazoo will use this type of Personally Identifiable Information to provide products and services, improve the structure, content and operation of the website to enhance your user experience, analyze website use as well as providing contests and marketing and promotion activities. We may also use this information to send periodic emails about your order or other products and services. We may also use this information to troubleshoot problems, resolve any disputes, enforce our agreements with you, comply with the applicable law and cooperate with law enforcement activities.
</p>
<p>
    <strong>Cookies:</strong> At Kuazoo, we use cookies. These are small text files that a site or it’s service provider transfers to your computer’s hard drive via the web browser (if you allow) that enables the site’s or the service provider’s system to recognize your browser and capture and remember certain information. For instance, cookies allow us to capture the last website you visited as well as the next website you visited after leaving Kuazoo.com. 
</p>
<p>
We use cookies to 
<ul>
    <li>Better understand your preferences based on current and previous site activity, which enables us to provide you with improved services. </li>
    <li>Help compile aggregate data about site traffic and site interaction so that we can provide better site experiences and tools in the future. We may also use trusted third party services to track this information on our behalf.</li>
    <li>Comply with applicable law and cooperate with law enforcement activities.</li>
</ul>
</p>
<p>
You can choose to have your computer warn you each time a cookie is being sent or you can turn off all cookies. However, if you disable cookies some features will be disabled and your user experience may not be as efficient and some services may not function properly. 
</p>
<p class="title">Release of Collected Information</p>
<p>
    <strong>Third Party Providers:</strong> We do not sell, trade or otherwise transfer your Personally Identifiable Information unless we provide you with advance notice. This does not include website hosting partners and other parties who assist us in operating the website, conducting our business or servicing you, so long as those parties agree to keep this information confidential. This will include activities such as
<ul>
    <li>Distributing our administrative and promotional emails</li>
    <li>Order fulfillment</li>
    <li>Administering contests and surveys</li>
    <li>Analyzing data</li>
    <li>Provide marketing assistance</li>
    <li>Processing credit card payments</li>
</ul>
</p>
<p>
We may also release your information if we believe release is appropriate, to comply with the law, enforce our site policies, or protect ours, or others’ rights, property or safety.  
</p>
<p>
    <strong>Kuazoo Retailers:</strong> We may share your information with third party retailers whose products and services we market and sell on our website. These retailers will request information from Kuazoo to help them in the redemption process for the product or service purchased by you on the Kuazoo website. Sharing this information may allow a Kuazoo retailer to market their products or services directly to you. We will only share Personally Identifiable Information to these retailers if you have engaged in activity on our website where this type of information was provided by you. However, we do not control or will be responsible for the actions of Kuazoo’s retailers. 
</p>
<p>
Kuazoo encourages each third party provider, to have his or her own privacy policy to be made available to you. The use of Personally Identifiable Information by these parties will be governed by their own privacy policies and not subject to Kuazoo’s control.
</p>
<p>
    <strong>Remarketing:</strong> Kuazoo may also remarket your information. Remarketing allows us to interact with users by utilizing past activity on the Kuazoo website. Kuazoo may use the services of third-party marketing vendors, including Google, to present Kuazoo ads on other Internet websites. Third-party vendors, including Google, use cookies to serve ads based on a user's prior visits to Kuazoo’s website. Users may disable Google's use of cookies by visiting the Google advertising opt-out page. This information will not be used for any other purposes except what is outlined above.
</p>
<p>
    <strong>Changing Personally Identifiable Information:</strong> If you want to change any of your Personally Identifiable Information that you have provided to us, you can do so by logging onto the Kuazoo website and editing this information in the ‘Profile’ section under Account Settings. However, removal of information from your account on the website will not mean that all your data will be deleted as we do keep track of your past transactions.
</p>
<p>
    <strong>Unsubscribing to Emails:</strong> We will periodically send you emails with regard to your orders when you have purchased from the website as well as emails related to your account, requests and enquiries. You will not be able to unsubscribe to these emails as they relate to certain activities initiated by you on the website. With regard to promotional emails and regular newsletters from Kuazoo, you will be able to opt out of receiving these types of emails by unsubscribing to these emails when you receive them by clicking on the unsubscribe link.
</p>
<p>
    <strong>Security of Information:</strong> Ensuring the security of your information is important to us. You have the ability to access your Personally Identifiable Information on the Kuazoo website through your email address and password. Information transmission across the Internet is however, never fully secure and we therefore cannot guarantee the security of information sent to and from the website. We also cannot be responsible for the actions of third parties that may receive such information.
</p>
<p>
    <strong>Minors:</strong> We do not intentionally collect information from children under the age of 18. It is Kuazoo’s policy not to design or sell products and services on our website to attract children below the age of 18 although we may sometimes sell items for children to be purchased by adults. We do not specifically market to children under the age of 18.
</p>
<p>
    <strong>Posting of Public Information:</strong> We may have certain areas within our website where you can post public information about yourself or your opinions when you review products and services. This information may be accessible by other consumers and companies and may appear in other websites or web searches and therefore this information can be collected and used by others. Kuazoo advises you to exercise caution when posting public information online as you may receive unsolicited emails from people who gain access to this data.
</p>

</div>
</div>