<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <connectionStrings>
    
    <add name="KuazooEntities" connectionString="metadata=res://*/entity.KuazooModel.csdl|res://*/entity.KuazooModel.ssdl|
    res://*/entity.KuazooModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;
    data source=(local);initial catalog=kuazoolive;integrated security=True;multipleactiveresultsets=True;
    App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="KuazooEntities" connectionString="metadata=res://*/entity.KuazooModel.csdl|res://*/entity.KuazooModel.ssdl|
    res://*/entity.KuazooModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;
    data source=rwrs742tg6.database.windows.net;initial catalog=kuazoodb;persist security info=True;
    user id=kuazoo@rwrs742tg6;password=P@ssw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />-->
    
    <!--<add name="KuazooEntities" connectionString="metadata=res://*/entity.KuazooModel.csdl|res://*/entity.KuazooModel.ssdl|
    res://*/entity.KuazooModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;
    data source=bee90141-c0e5-470a-9c9b-a37e0040da45.sqlserver.sequelizer.com;initial catalog=dbbee90141c0e5470a9c9ba37e0040da45;
    user id=rrrorbgtqazwzyaa;password=F5xza77j4cDUMsoeEQPGRw5FLpdpWtzcyxRJoYGQTENLGBfvVYvnrzrjaZWT4QvH;integrated security=True;multipleactiveresultsets=True;
    App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="KuazooEntities" connectionString="metadata=res://*/entity.KuazooModel.csdl|res://*/entity.KuazooModel.ssdl|
    res://*/entity.KuazooModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;
    data source=c535d4ab-f39f-4664-a747-a32d00f4d897.sqlserver.sequelizer.com;initial catalog=dbc535d4abf39f4664a747a32d00f4d897;
    persist security info=True;user id=uscrbmayygrozwih;password=Sz6t7bJFNauRZHBawZZdJF2GsV5TPLDF8ELPPJpViGacjrgwVQmdcqPkGxbkfXZc;
    multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="KuazooEntities" connectionString="metadata=res://*/entity.KuazooModel.csdl|res://*/entity.KuazooModel.ssdl|
    res://*/entity.KuazooModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;
    data source=WIN-G2O9E574H5M;initial catalog=kuazoo;persist security info=True;user id=sa;password=P@ssw0rd;
    multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="KuazooEntities" connectionString="metadata=res://*/entity.KuazooModel.csdl|res://*/entity.KuazooModel.ssdl|
    res://*/entity.KuazooModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;
    data source=t0e8hqtumf.database.windows.net;initial catalog=kuazoo_db;persist security info=True;
    user id=appstream@t0e8hqtumf;password=App@12345;multipleactiveresultsets=True;App=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />-->

  </connectionStrings>

  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=portalvhds1ld3sl2bc1f9k;AccountKey=95yYGlZkZvne1rZu6DbHKUrDrPUgeKgmbTddBL3kUeZcQ3odCmVzoR+U4fLg26ZerlsYvOc/hxBLE0P4vRarBw==" />
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--<add key="CloudName" value="hu810cikk"/>
    <add key="CloudKey" value="565556125962134"/>
    <add key="CloudSecret" value="K3_wRPg6t9jdC5FVMv8j9vq1GKo"/>-->
    <!--<add key="uploadpath" value="http://192.168.0.103:8123/kuazoo/Content/upload/"/>-->
    <!--<add key="uploadpath" value="http://www.appstream.com.my/kuazoo/"/>-->
    <!--<add key="uploadpath" value="http://kuazoo.apphb.com/Content/upload/"/>-->
    <!--<add key="uploadpath" value="http://kuazoo.cloudapp.net/Content/upload/"/>-->
    <add key="uploadpath" value="http://localhost:2070/Content/upload/"/>
    <!--<add key="uploadpath" value="https://portalvhds1ld3sl2bc1f9k.blob.core.windows.net/upload/"/>-->
    <add key="urlpath" value="http://localhost:2070/"/>
    <!--<add key="uploadpath" value="http://kuazoo.blob.core.windows.net/upload/"/>-->
    <add key="GMT" value="7"/>
    <add key="MOLmerchant" value="test6312"/>
    <add key="MOLkey" value="473ba9ef62294e8ea88580610b67c88c"/>
    <!--<add key="MOLmerchant" value="kuazoo88"/>
    <add key="MOLkey" value="fd7a9f2c9f9c5d3404313bb226266df5"/>-->
    <add key="PageSize" value="10"/>
  </appSettings>

  <system.web>
    <globalization uiCulture="en-MY" culture="en-MY" />
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/User/SignIn" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
        <add namespace="Kendo.Mvc.UI" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="PagedList" publicKeyToken="abbb863e9397c5e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.4.0" newVersion="1.2.4.0" />
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
</configuration>
