@model com.kuazoo.Models.InventoryItemModel.ImageList
@{
    ViewBag.Title = "ImageList";
    Layout = "~/Views/Shared/_EmptyReviewLayout.cshtml";
}
    <link href="@Url.Content("~/Content/Home.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Review.css")" rel="stylesheet" type="text/css" />


<div class="reviewwrap">
<div class="reviewheader">
    <h2>Change Password</h2>
</div>
<div class="reviewheaderspace"></div>
<div class="reviewrow">
    <div class="changepassrow">
        <div class="col1">Current Password</div>
        <div class="colspace"></div>
        <div class="col2">
            <input type="password" id="currPass" class="txtInput" />
        </div>
    </div>
    <div class="changepassrow">
        <div class="col1">New Password</div>
        <div class="colspace"></div>
        <div class="col2">
            <input type="password" id="newPass" class="txtInput" />
        </div>
    </div>
    <div class="changepassrow">
        <div class="col1">Confirm New Password</div>
        <div class="colspace"></div>
        <div class="col2">
            <input type="password" id="confirmPass" class="txtInput" />
        </div>
    </div>
</div>

<div class="reviewheaderspace"></div>
<div class="changepassfooter">
    <input type="button" value="CANCEL" class="btnEdit"  onclick="btnClose()"  />
    <input type="button" value="CHANGE PASSWORD" class="btnSave" id="btnChoose"  />
</div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnChoose").on('click', function () {
            var curr = $("#currPass").val();
            var pass = $("#newPass").val();
            var cfpass = $("#confirmPass").val();
            $("#currPass").removeClass("err");
            $("#newPass").removeClass("err");
            $("#confirmPass").removeClass("err");
            if (curr == "") {
                $("#currPass").addClass("err");
                $("#currPass").focus();
            }
            else if (pass == "") {
                $("#newPass").addClass("err");
                $("#newPass").focus();
            }
            else if (cfpass == "") {
                $("#confirmPass").addClass("err");
                $("#confirmPass").focus();
            }
            else if (pass != cfpass) {
                $("#newPass").focus();
                $("#newPass").addClass("err");
                $("#confirmPass").addClass("err");
            }
            else {
                $.ajax({
                    type:'POST',
                    url: "@Url.Action("ChangePass","User")",
                    data: {oldpass:curr,newpass:pass},
                    dataType:"json",
                    success:function(data){
                        if(data.success){
                            parent.document.getElementById("tempPass").value = "1";
                        }
                        else{
                            parent.document.getElementById("tempPass").value = data.error;
                        }
                        parent.$.fancybox.close();
                    }
                });
            }
        });
    });
    function btnClose() {
        parent.$.fancybox.close();
    }
</script>