@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        changeprofilenav(0);
    });
</script>

<h2>Index</h2>
